version: "3.8"

services:
  api:
    container_name: api
    image: 705493297387.dkr.ecr.us-west-2.amazonaws.com/workflow-api
    ports:
      - 8000:8000
  nginx:
    container_name: nginx
    image: 705493297387.dkr.ecr.us-west-2.amazonaws.com/workflow-nginx
    depends_on:
      - api
    ports:
      - 80:80
      - 443:443
