# Miscellaneous Elastic Beanstalk settings
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NPM_CONFIG_PRODUCTION
    value: true

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DOMAIN
    value: api.borsaworkflow.net

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: EMAIL
    value: michaelhsusanto@gmail.com

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_CONNECTION_URL
    value: postgres://michael:012987_Antb@workflow-db-prod.cwlzpplgbgzk.us-west-2.rds.amazonaws.com/workflow_db
